.large-1 {
  font-family: 'Bowlby One', cursive;
  text-align: center;
  position: relative;
  color: burlywood;
}

body {
  background-color: firebrick;
}

.for {
  position: absolute;
  left: 0.23em;
  top:.1em;
}

.death {
  position: absolute;
  top: 1.35em;
  left: 0.1em;
}

.and {
  position: absolute;
  left: 0.15em;
  top: 1.48em;
}

.glory {
  position: absolute;
  left: 0.04em;
  top: 3.33em;
}

.small-1 {
  font-family: Lora, serif;
  color: black;
}

.for-2 {
  position: absolute;
  top: 2.1em;
  left: 4.22em;
}

.rohan {
  position: absolute;
  top: 4.88em;
  left: 4em;
}

.for-3 {
  position: absolute;
  top: 11em;
  left: 3.5em;
}

.your {
  position: absolute;
  top: 11em;
  left: 5.55em;
}

.people {
  position: absolute;
  top: 10.5em;
  left: 4.2em;
}

.rising {
  font-family: Lora, serif;
  text-align: left;
  color: gold;
  position: absolute;
  top: -4em;
  left: 0.5em;
}

.part-2 {
  position: relative;
  top: 30em;
}

.sun {
  position: absolute;
  top: -2em;
  left: 2em;
  background-color: gold;
  color: gold;
  border-radius: 500px;
  z-index: -10;
}

.sun-p {
 padding-left: 0.8em;
 padding-bottom: 0.5em;
}

.look {
  font-family: Lora, serif;
  text-align: center;
}

.dawn {
  font-family: 'Bowlby One', cursive;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .part-2 {
    position: absolute;
    top: 5em;
    left: 21em;
  }

  .death {
    color: black;
  }

  .rohan {
    color: burlywood;
  }

  .glory {
    color: black;
  }

  .people {
    color: burlywood;
  }

  b {
    color: white;
  }

}
